body{
  background:rgb(252, 241, 228);
}
main{
  margin:50px;
  padding:10px;
  display:flex;
  justify-content:center;
  text-align:center;
}
.container{
  justify-content:center;
  text-align:center;
  background:white;
  border-radius:20px;
  padding:35px;
  height:100%;
  width:600px;
  max-width:90%;
}
img{
  justify-content:center;
  text-align:center;
  border-radius:10px;
  width:800px;
  min-width:200px;
  max-width:100%;
}
h1{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align:left;
  font-size:2rem;
}
.sub-text{
  color:rgb(75, 43, 18);
  font-family: "Outfit", sans-serif;
}
.section-two{
  padding:20px;
  margin-top:20px;
  background:rgb(255, 245, 249);
  border-radius:10px;
}
.section-two-header{
  color:rgb(94, 11, 55);
  font-size:1.2rem;
  font-family: "Outfit", sans-serif;
}
.main-header{
  color:rgb(120, 74, 74);
}
.first-text{
  font-weight:bold;
}
li{
  margin:10px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  text-align:left;
  font-size:1rem;
  color:rgb(120, 74, 74);
}
.list{
  list-style:number;
}
.instruction{
  margin:10px;
  margin-right:15px;
  color:rgb(120, 74, 74);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  text-align:left;
  font-size:1rem;
  color:rgb(75, 43, 18);
  margin-left:15px;
}
.info{
  list-style:none;
}
.nutrients{
  list-style:none;
  color:black;
  border-bottom:1px solid rgba(0, 0, 0, 0.129);
  display:flex;
  justify-content: space-between;
  text-align:center;
}
.nutrient-points{
  margin:0 100px;
  color:rgb(152, 76, 35);
  font-weight:bold;
}
.attribution{
  justify-content:center;
  text-align:center;
  font-size:0.8rem;
}